/* CSS Variables */
:root {
    /* main UI color */
    --plyr-color-main: rgb(97, 0, 0);
    /* audio controls background */
    --plyr-audio-controls-background: black;
    /* audio controls color */
    --plyr-audio-control-color: white;
    /* font family for player */
    --plyr-font-family: sans-serif;
    /* font size of player  */
    --plyr-font-size-time: 16px;

    /* Other optional customiziations */
    --plyr-audio-control-color-hover:  black;
    --plyr-audio-progress-buffered-background:  black;
    --plyr-audio-range-track-background: white;
    --plyr-tooltip-background: white;
    --plyr-tooltip-color: black; 
    --plyr-control-icon-size: 16px;
}
@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

main {
  
  
h1 {
  font-family: "Jacquard 24", system-ui;
  color: maroon;
  text-align: center;
}

h2{
    font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
  color: maroon;
  text-align: center;
}
  
  audio{
     display: block;
  margin-left: auto;
  margin-right: auto;
  }

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 }
  article {
    text-align: center;
  }
}